.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.list-group{
    width: 130px;
}

.list-group-item{
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .sidebar {
        background-color: red;
        display: none;
    }
}
    
